<footer>
        <div class="block-1">
            <p>Our social networks:</p>
            <div class="social-network-icons">
                <a href="https://www.instagram.com/" target="_blank">
                    <img src="assets\images\Instagram-icon.png" alt="No image...">
                </a>
                <a href="https://facebook.com/" target="_blank">
                    <img src="assets/images/Facebook-icon.png" alt="No image...">
                </a>
                <a href="https://youtube.com/" target="_blank">
                    <img src="assets/images/Youtube-icon.png" alt="No image...">
                </a>
            </div>
        </div>

        <div class="block-2">
            <div class="text-block-2-content">
                <p class="text-1">Gamesphere</p>
                <p class="text-2">All rights reserved©</p>
            </div>
            <img class="block-2-gamepad-image" src="assets/images/Gamepad-icon.png" alt="No image...">
        </div>
</footer>