<header>
    <div class="logo">
        <img src="assets/images/Service-icon.jpg" alt="No image...">
    </div>

    <nav class="menu-list">
        <a (click)="navigateTo('')"><p>About us</p></a>
        <a (click)="navigateTo('/categories')"><p>Catalog of games</p></a>
        <a (click)="navigateTo('forum')"><p>Forum</p></a>
    </nav>

    <div class="authorization-content">
        <button (click)="navigateTo('sign-up')"><p>Sign up</p></button>
        <div class="rectangle"></div>
        <button (click)="navigateTo('sign-in')"><p>Sign in</p></button>
    </div>
</header>