<div class="wrapper">
    <div class="content">
        <img src="assets/images/Service-icon.jpg" alt="No image...">

        <p>Fill fields below to reset the password!</p>

        <form #myForm="ngForm">
            <div class="input-email input-spaces"
                [ngClass]="{'error-input': myForm.invalid && myForm.controls['email'].invalid && myForm.controls['email'].touched}">
                <input type="email" name="email" [(ngModel)]="model.email" placeholder="Enter your Email..." required
                    pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                <span
                    *ngIf="myForm.invalid && myForm.controls['email'].invalid && myForm.controls['email'].touched && myForm.controls['email']?.value"
                    class="error-message"> ◦ Enter a correct Email</span>
                <span *ngIf="!myForm.controls['email']?.value && myForm.controls['email']?.touched"
                    class="error-message"> ◦ Email cannot be empty</span>
            </div>

            <div class="input-password input-spaces" [ngClass]="{'error-input': myForm.invalid && myForm.controls['password'].invalid 
                    && myForm.controls['password'].touched}">
                <div class="password-content">
                    <input [type]="hiddenPassword ? 'password' : 'text'" name="password" [(ngModel)]="model.password"
                        placeholder="Enter your password..." required
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,30}$" minlength="8" maxlength="30">
                    <img [src]="hiddenPassword ? 'assets/images/Hidden-password.png' : 'assets/images/Show-password.png'"
                        alt="No image..." (click)="hiddenPassword=inverseBool(hiddenPassword)">
                </div>
                <span *ngIf="myForm.invalid && myForm.controls['password'].invalid && myForm.controls['password'].touched 
                    && myForm.controls['password']?.value" class="error-message">
                    ◦ Password must consist of one uppercase and lowercase latin letter, a number and a special
                    character!
                </span>
                <span *ngIf="!myForm.controls['password']?.value && myForm.controls['password']?.touched"
                    class="error-message"> ◦ Password cannot be empty
                </span>
                <span *ngIf="myForm.invalid && myForm.controls['password'].touched 
                && myForm.controls['password']?.errors?.['minlength']" class="error-message"> ◦ Password
                    must
                    be at least 8 characters long
                </span>
            </div>

            <div class="input-password input-spaces"
            [ngClass]="{'error-input': myForm.controls['confirm-password'] && myForm.controls['password'].touched 
            && myForm.controls['confirm-password'].touched && !passwordConfirmed() && myForm.controls['password'].valid}">
                <div class="password-content">
                    <input [type]="hiddenConfirmPassword ? 'password' : 'text'" name="confirm-password"
                        [(ngModel)]="model.confirmPassword" placeholder="Confirm your password..." required maxlength="30">
                    <img [src]="hiddenConfirmPassword ? 'assets/images/Hidden-password.png' : 'assets/images/Show-password.png'"
                        alt="No image..." (click)="hiddenConfirmPassword=inverseBool(hiddenConfirmPassword)">
                </div>
                <span class="error-message" *ngIf="myForm.controls['password']?.touched  && myForm.controls['password'].valid
                && myForm.controls['confirm-password']?.touched && !passwordConfirmed()">◦ Passwords are not equal</span>
            </div>
            <div class="input-spaces">
                <input type="submit" (click)="resetPassword()" value="Reset" [disabled]="myForm.invalid || !passwordConfirmed()">
            </div>
        </form>
    </div>
</div>